[Unit]
Description=Ekrone Infinity Daemon
After=network.target

[Service]
User=YOUR_USER
Group=YOUR_USER

ExecStart=/usr/bin/ekroned --data-dir=/home/YOUR_USER/.ekrone
GuessMainPID=no

[Install]
WantedBy=multi-user.target
