[Unit]
Description=Ekrone Gold Daemon
After=network.target

[Service]
User=YOUR_USER
Group=YOUR_USER

ExecStart=/usr/bin/Ekroned --data-dir=/home/YOUR_USER/.Ekrone
GuessMainPID=no

[Install]
WantedBy=multi-user.target
