[Unit]
Description=Ekrone Gold Wallet
After=network.target

[Service]
User=USER
Group=USER
Restart=on-failure
RestartSec=5s

ExecStart=/usr/bin/walletd --config=/etc/ekr/paymentgate.conf
GuessMainPID=no

[Install]
WantedBy=multi-user.target
